/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #262847;
}

.pagination .ngx-pagination .current {
    background: #5F6187;
    color: #262847;
    border-radius: 4px;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #262847 !important;
}